* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  width: 400px;
  height: 400px;
  border-radius: 10px;
  position: relative;
}
.item {
  position: absolute;
  width: calc(100% / 3);
  height: calc(100% / 3);
  z-index: 2;
}
.content {
  position: absolute;
  background-color: aqua;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url("./me2.jpg");
  background-size: cover;
  border-radius: 10px;
  transition: all 0.5s;
  box-shadow: 0 0 20px grey;
}
.item:nth-child(1) {
  top: 0;
  left: 0;
}
.item:nth-child(2) {
  top: 0;
  left: calc(100% / 3);
}
.item:nth-child(3) {
  top: 0;
  right: 0;
}
.item:nth-child(4) {
  top: calc(100% / 3);
  right: 0;
}
.item:nth-child(5) {
  top: calc(100% / 3);
  left: 0;
}
.item:nth-child(6) {
  bottom: 0;
  left: 0;
}
.item:nth-child(7) {
  bottom: 0;
  left: calc(100% / 3);
}
.item:nth-child(8) {
  bottom: 0;
  right: 0;
}

.item:nth-child(1):hover ~ .content {
  transform-origin: top right;
  transform: perspective(1000px) rotateX(10deg) rotateY(-10deg);
  box-shadow: 25px 25px 40px rgb(172, 172, 172);
}
.item:nth-child(2):hover ~ .content {
  transform-origin: top center;
  transform: perspective(1000px) rotateX(10deg);
  box-shadow: 0px 20px 40px rgb(172, 172, 172);
}
.item:nth-child(3):hover ~ .content {
  transform-origin: top left;
  transform: perspective(1000px) rotateX(10deg) rotateY(10deg);
  box-shadow: -25px 25px 40px rgb(172, 172, 172);
}
.item:nth-child(4):hover ~ .content {
  transform-origin: left center;
  transform: perspective(1000px) rotateY(10deg);
  box-shadow: -25px 25px 40px rgb(172, 172, 172);
}
.item:nth-child(5):hover ~ .content {
  transform-origin: right center;
  transform: perspective(1000px) rotateY(-10deg);
  box-shadow: 25px 5px 40px rgb(172, 172, 172);
}
.item:nth-child(6):hover ~ .content {
  transform-origin: bottom right;
  transform: perspective(1000px) rotateX(-10deg) rotateY(-10deg);
  box-shadow: 25px -25px 40px rgb(172, 172, 172);
}
.item:nth-child(7):hover ~ .content {
  transform-origin: bottom center;
  transform: perspective(1000px) rotateX(-10deg);
  box-shadow: 0px -20px 40px rgb(172, 172, 172);
}
.item:nth-child(8):hover ~ .content {
  transform-origin: bottom left;
  transform: perspective(1000px) rotateX(-10deg) rotateY(10deg);
  box-shadow: -25px -25px 40px rgb(172, 172, 172);
}
