* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
body {
  height: 100vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  perspective: 600px;
  position: relative;
}

.box {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transition: all 1s;
}
.box.rotateactive {
  animation: boxrotate 8s linear infinite;
}
@keyframes boxrotate {
  to {
    transform: rotateY(360deg);
  }
}

.item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  color: grey;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    to right,
    rgb(255, 255, 255),
    rgba(105, 105, 105, 0.568)
  );
}
.shadowbox {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transition: all 1s;
}
.shadowbox.rotateactive {
  animation: shadowbox 8s linear infinite;
}
.shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: rotateX(90deg);
  background-color: rgb(175, 175, 175);
  filter: blur(30px);
}

@keyframes shadowbox {
  to {
    transform: rotateY(360deg);
  }
}

.item1 {
  transform: rotate(0) translateZ(100px);
}

.item2 {
  transform: rotateY(90deg) translateZ(100px);
}

.item3 {
  transform: rotateY(-90deg) translateZ(100px);
}

.item4 {
  transform: rotateY(180deg) translateZ(100px);
}

.item5 {
  transform: rotateX(90deg) translateZ(100px);
}

.item6 {
  transform: rotateX(-90deg) translateZ(100px);
}

button {
  position: absolute;
}
.cubeControl {
  position: fixed;
  width: 100px;
  height: 100px;
  top: 50%;
  right: 10%;
}
.left {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.right {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.top {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.bottom {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.start {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
