* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
p {
  font-size: 1.2rem;
}
small {
  display: block;
  text-align: end;
  font-weight: bold;
}
.accordion {
  width: 80%;
  margin: 4rem auto;
}
.item {
  border: 2px solid grey;
  border-radius: 10px;
  transition: all 0.5s;
  padding: 1rem;
  box-shadow: 0 0 5px grey;
}
.item.active {
  background-color: rgb(216, 216, 216);
}
.itemContent {
  height: 0;
  opacity: 0;
  transition: all 0.5s;
  margin-left: 1rem;
  overflow: hidden;
}
.item.active .itemContent {
  opacity: 1;
  display: block;
}
.itemContent li {
  border-bottom: 2px solid rgb(255, 255, 255);
  padding: 1rem;
}
.itemContent li.active {
  animation: text 0.5s ease-in-out both;
}
@keyframes text {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

.itemContent li:nth-child(1) {
  animation-delay: 0;
}
.itemContent li:nth-child(2) {
  animation-delay: 0.2s;
}

.itemContent li:nth-child(3) {
  animation-delay: 0.4s;
}
.itemContent li:nth-child(4) {
  animation-delay: 0.6s;
}

.itemContent li:nth-child(5) {
  animation-delay: 0.8s;
}
